<html>
    <body>
        
         <ul>
             {{#each names}}
             <li>{{this}}</li>
             {{/each}}
         </ul>
    hello {{name}}
    Your email is {{email}}
    </body>
</html>